@* WORKING PARTIAL FILE (IGNORE THE REST) *@

<!-- #region -->
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>

        @* role based navigation *@
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index1">Admin Dashboard</a>
            </li>
        }
        @if (User.IsInRole("Teacher"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Dashboard">Teacher Dashboard</a>
            </li>
        }
        @if (User.IsInRole("Student"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Dashboard">Student Dashboard</a>
            </li>
        }

    }
    else 
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
        </li>
    }
</ul>