@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Search Results";
}
<h1>Search Results for "@ViewBag.SearchQuery"</h1>
<p>Display your search results here.</p>
